.wrapper
  .Title 
    %input.Title__form{type:"text",placeholder:"タイトルを入力してください"}
  .upbar
    %table.Input_main
      %tr.Input_main__colmun
        %th.Input_main__column--name
          商品
        %th.Input_main__column--name
          単価
        %th.Input_main__column--name
          個数
        %th.Input_main__column--name
          小計
        %th.Input_main__column--name
          合計
      %tr.Input_main__colmun
        %td
          %input.Input_main__column--name{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
      %tr.Input_main__colmun
        %td
          %input.Input_main__column--name{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
      %tr.Input_main__colmun
        %td
          %input.Input_main__column--name{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
      %tr.Input_main__colmun
        %td
          %input.Input_main__column--name{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"}
        %td
          %input.Input_main__column--num{type:"text"} 
  .Form
    %input.Form__botton{type:"submit", value:"保存する"}   

      

  .note
    .note__content
      %ol.list 
        %li.list_box おはよう